 {% extends "base.html" %}
{% block content %}

<h2>About Us</h2>
<p>
BioFuelTech Energy is a renewable energy startup focused on converting 
organic waste into biogas. Our mission is to create sustainable energy 
solutions and reduce environmental pollution in India. BioFuelTech Energy introduces a scalable and modular approach to biogas production, 
which differentiates it from traditional fixed biogas systems.
 The innovation lies in integrating waste collection logistics, modular plant design, and 
optional IoT-based monitoring systems to optimize gas production efficiency.
 The startup focuses on reducing setup costs and improving accessibility by deploying 
small-scale units that can be replicated across multiple locations.
 Additionally, the business model incorporates a structured distribution mechanism for 
biogas and organic fertilizer, enabling sustainable revenue generation and environmental 
impact.
Our startup is different from normal biogas plants because:
 We use modular (small & flexible) systems
 Easy to install and low cost 
 Can be used in villages and cities 
 Future plan: use smart monitoring (IoT)
</p>

{% endblock %}